services:
  sample-app:
    build:
      context: .
    labels:
      # Router
      - traefik.http.routers.sample-app.rule=Host(`pi.yummymeatrecipes.com`) && PathPrefix(`/sample-app`)
      # Redirect /sample-app -> /sample-app/
      - traefik.http.middlewares.sample-app-redirect.redirectregex.regex=^(.*/sample-app)$
      - traefik.http.middlewares.sample-app-redirect.redirectregex.replacement=$1/
      - traefik.http.middlewares.sample-app-redirect.redirectregex.permanent=true
      # Strip prefix
      - traefik.http.middlewares.sample-app-strip.stripprefix.prefixes=/sample-app
      # Chain
      - traefik.http.routers.sample-app.middlewares=sample-app-redirect,sample-app-strip
      - traefik.http.services.sample-app.loadbalancer.server.port=8000
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    external: true