services:
  sampleapp:
    build:
      context: .
    labels:
      - traefik.enable=true
      - traefik.http.routers.sampleapp.rule=Host(`pi.yummymeatrecipes.com`) && PathPrefix(`/sampleapp`)
      - traefik.http.middlewares.sampleapp-strip.stripprefix.prefixes=/sampleapp
      - traefik.http.routers.sampleapp.middlewares=sampleapp-strip
      - traefik.http.services.sampleapp.loadbalancer.server.port=8000
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    external: true